<div class="header section">
  Smart quotes <i class="fa fa-book header__icon" aria-hidden="true"></i>
  </div>
<div *ngIf="showUpload" class="section">
  <h1>Share your emotion in exchange for some wisdom</h1>
</div>
<div *ngIf="showUpload" class="section -bottom">
    <image-upload (photoUploaded)="onPhotoUploaded($event)" [shouldClearAndTryAgain]="shouldClearAndTryAgain"></image-upload>
</div>
<div *ngIf="photo" class="section -no-padding">
    <img [src]="photo" alt="uploaded-photo">
</div>
<div *ngIf="showLoading" class="section">
  <div class="loader"></div>
</div>
  <quotes *ngIf="emotion" (quotesLoaded)="onQuotesLoaded()" [quoteTerm]="emotion"></quotes>
<div *ngIf="showTryAgainButton" class="section">
  <button  class="button -centered" (click)="tryAgain()">Want to try again?</button>
</div>

